.input-label {
  color: #0080ff;
}

.input-field {
  border: 1px solid #0080ff;
  background-color: #ffffff;
  color: grey;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
}

.input-field:disabled {
  background-color: #f0f0f0;
  color: #aaa;
}