.select-container {
    margin-bottom: 15px;
  }
  
  .input-label {
    color: grey;
  }
  
  .input-field {
    border-color: red;
    background-color: #ccc;
    color: black;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    appearance: none;
  }
  