ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    ul.breadcrumb {
        padding: 8px 12px;
    }

    ul.breadcrumb li {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    ul.breadcrumb {
        padding: 5px 10px;
        text-align: center;
    }

    ul.breadcrumb li {
        display: block;
        font-size: 14px;
    }
}

/* ************************************
                Red
**************************************/
ul.breadcrumb.red li a:hover {
    color: yellow;
}

ul.breadcrumb.red {
    background-color: red;
}

ul.breadcrumb.red li a {
    color: white;
}

ul.breadcrumb.red li+li:before {
    color: white;
}

/* ************************************
                Green
**************************************/
ul.breadcrumb.green li a:hover {
    color: yellow;
}

ul.breadcrumb.green {
    background-color: green;
}

ul.breadcrumb.green li a {
    color: black;
}

ul.breadcrumb.green li+li:before {
    color: black;
}

/* ************************************
                Blue
**************************************/
ul.breadcrumb.blue li a:hover {
    color: green;
}

ul.breadcrumb.blue {
    background-color: blue;
}

ul.breadcrumb.blue li a {
    color: white;
}

ul.breadcrumb.blue li+li:before {
    color: white;
}